<% content_for :page_header_title, "Application Plan #{h @plan.name}" %>

<% if @plan.customized? %>
  <% content_for :page_header_body do %>
    <%= render :partial => 'api/plans/menu' %>
  <% end %>
<% end %>

<div>
  <%= semantic_form_for @plan, :url => admin_application_plan_path(@plan) do |form| %>
    <%= render :partial => 'form', :object => form %>
    <%= form.actions do %>
      <%= form.commit_button %>
    <%- end %>
  <%- end %>
  <%= render 'api/plans/metrics' -%>

  <%= render 'api/plans/features' if can? :manage, :plans -%>
</div>
