<div id="cms-template-editor">
  <ul id="cms-template-editor-tabs">
    <li>
      <a href="#cms-template-draft">Draft</a>
    </li>
    <li>
      <a href="#cms-template-live">Published</a>
    </li>
  </ul>

  <ul class='links'>
   <li>

     <%= link_to icon('time','Versions'), provider_admin_cms_template_versions_path(@page),
                 :title => "Versions of this #{@page.class.model_name.human.downcase}",
                 :target => '_parent' %>
   </li>
  </ul>

  <div id="cms-template-draft" class="cms-template-content-tab" >
    <%= f.input :draft, :as => :codemirror, :input_html => { :value => f.object.current } %>
  </div>

  <div id="cms-template-live" class="cms-template-content-tab">
    <%= f.input :published, :as => :codemirror, :options => {:readOnly => true} %>
  </div>
</div>

<div class='button-bar'>
  <%= f.actions do %>
    <% if f.object.respond_to?(:destroy) %>
      <li id="cms-template-delete-button">
        <%= f.delete_button %>
      </li>
    <% end %>

    <li>
      <a class="pf-c-button pf-m-secondary pf-m-danger"
         href="#cms-template-revert"
         title="Reverts draft to a currently published version.">
        Revert
      </a>
    </li>
  <% end %>

  <%= f.actions do %>
    <%= render '/provider/admin/cms/preview_buttons', :f =>f %>
    <%= render '/provider/admin/cms/save_buttons', :f => f %>
  <% end %>
</div>
