<li>
  <% if @page.is_a?(CMS::BasePage) -%>
    <%= dropdown_button(f.publish_button) do  %>
      <%= dropdown_link(f.hide_button) %>
      <%= dropdown_link(f.publish_button( :button_html => { :class => '' } )) %>
    <% end %>
  <% else %>
    <%= f.publish_button %>
  <% end %>
</li>

<li>
  <%= f.actions class: 'button-group dropdown-buttons' do %>
    <%= f.action :submit, label: 'Save', button_html: { title: 'Save the draft',
                                                        class: 'important-button update',
                                                        value: 'Save',
                                                        name: 'commit',
                                                        disable_with: 'Save' } %>
    <%= f.action :submit, as: :button, label: 'Save as Version', button_html: { class: 'save_as_version',
                                                                                title: 'Saves current draft in a version history without publishing it.',
                                                                                name: :version,
                                                                                value: true } %>
  <% end %>
</li>
