<% content_for :page_header_title do %>
  Invoices
  <%- if @buyer.present? -%>
    for account: <%= h @buyer.org_name %>
  <%- end -%>
<% end %>

<table class="pf-c-table pf-m-grid-lg" role="grid" aria-label="Invoices table">
  <thead>
    <tr role="row">
      <%= th_sortable('friendly_id', 'Number', :admin_finance_invoices_path) %>
      <%= th_sortable('accounts.org_name', 'Account', :admin_finance_invoices_path) %>
      <%= th_sortable('period', 'Month', :admin_finance_invoices_path) %>
      <th role="columnheader" scope="col">Cost</th>
      <%= th_sortable('state', 'State', :admin_finance_invoices_path) %>
      <th role="columnheader" scope="col">Download</th>
    </tr>
  </thead>

  <tbody role="rowgroup" class="invoices">
    <tr role="row" class="search">
      <%= form_for @search, :as => :search, :url => '', :html => { :method => :get, :class => :search } do |s| -%>
        <td><%= s.text_field :number, placeholder: "2017-06-* / 2018-*"  %></td>
        <td><%= s.text_field :buyer_query, :size => 20, :disabled => @buyer.present? %></td>
        <td>
          <%= select_month @search.month_number.try(:to_i), :prefix => :search, :field_name => :month_number, :include_blank => true %>
          <%= select_year @search.year.try(:to_i), :prefix => :search, :field_name => :year, :include_blank => true, :start_year => @years.first, :end_year => @years.last %>
        <td></td>
        <td><%= s.select :state, Invoice.state_machine.states.keys.collect(&:to_s).sort, :include_blank => true, :selected => @search.state %></td>
        <td><%= s.button 'Search', :name => nil, :class => "pf-c-button pf-m-primary" %></td>
      <%- end -%>
    </tr>

    <% @invoices.each do |invoice| %>
      <%= content_tag_for(:tr, invoice, role: "row") do %>
        <td role="cell" data-label="Number">
          <%= link_to invoice.friendly_id, admin_finance_invoice_path(invoice),
                                           title: "Show #{invoice.friendly_id}" %>
        </td>
        <td role="cell" data-label="Account"><%= link_to_buyer_or_deleted(invoice.buyer, :admin_buyers_account_invoices_path) %></td>
        <td role="cell" data-label="Month"><%= h invoice.name %></td>
        <td role="cell" data-label="Cost"><%= price_tag(invoice.cost) %></td>
        <td role="cell" data-label="State"><%= h invoice.state %></td>
        <td role="cell" data-label="Download"><%= invoice_pdf_link(invoice, label: 'PDF') %></td>
      <% end %>
    <% end %>

    <%- if @invoices.empty? -%>
      <tr role="row" class="no_results">
        <td colspan="6">
          No Invoices.
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<%= will_paginate(@invoices) %>

<%= link_to_export_widget_for('Invoices') %>
