<% content_for :page_header_title, 'Drafts' %>

<table class="pf-c-table pf-m-grid-lg" role="grid" id="cms-changes" aria-label="Drafts table">
  <thead>
    <tr role="row">
      <th role="columnheader" scope="col">Type</th>
      <th role="columnheader" scope="col">Name</th>
      <th role="columnheader" scope="col">Path</th>
      <th role="columnheader" scope="col" class="actions pf-c-table__action">
        <% if @changed.size > 1 %>
          <%= link_to 'Publish All', publish_all_provider_admin_cms_changes_path,
                      class: 'action',
                      method: :put,
                      data: { confirm: 'Do you really want to publish all pending changes?' },
                      remote: true
          %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody role="rowgroup">
    <% @changed.each do |changed_model| %>
      <tr role="row" id="<%= dom_id(changed_model) + '_change' %>" >
        <td role="cell" data-label="Type"><%= changed_model.class.model_name.human %></td>
        <td role="cell" data-label="Name"><%= link_to changed_model.name, polymorphic_path([ :edit, :provider, :admin, changed_model ] ) %></td>
        <td role="cell" data-label="Path">
          <% if changed_model.is_a?(CMS::BasePage) %>
            <%= link_to(changed_model.path || '(builtin path)', cms_draft_url(changed_model), :target => '_blank') %>
          <% end %>
        </td>
        <td role="cell" class="pf-c-table__action actions">
          <div class="pf-c-overflow-menu">
            <div class="pf-c-overflow-menu__content">
              <div class="pf-c-overflow-menu__group pf-m-button-group">
                <div class="pf-c-overflow-menu__item">
                  <%= link_to 'Revert', revert_provider_admin_cms_change_path(changed_model),
                              class: 'action', method: :put, remote: true %>
                </div>
                <div class="pf-c-overflow-menu__item">
                  <%= link_to 'Publish', publish_provider_admin_cms_change_path(changed_model),
                              class: 'action', method: :put, remote: true %>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
