<% title 'Earnings by Month' %>
<% content_for :page_header_title, 'Earnings by Month' %>

<table class="data">
  <thead>
    <tr>
      <th>Month</th>
      <th class="u-amount">Total
      </th>
      <th class="u-amount">In process
      </th>
      <th class="u-amount">Overdue
      </th>
      <th class="u-amount">Paid
      </th>
    </tr>
  </thead>

  <tbody>
    <% @months.each do |row| %>
      <tr>
        <td><%= row.link_to_invoices %></td>
        <td class="u-amount u-tabular-number">
          <%= row.total_revenue %>
        </td>
        <td class="u-amount u-tabular-number">
          <%= row.in_process_revenue %>
        </td>
        <td class="u-amount u-tabular-number">
          <%= row.overdue_revenue %>
        </td>
        <td class="u-amount u-tabular-number">
          <%= row.paid_revenue %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
