<% content_for :page_header_title, t('.page_header_title') %>

<% content_for :javascripts do %>
  <%= stylesheet_packs_chunks_tag 'pf_form' %>
<% end %>

<div class="pf-c-card">
  <div class="pf-c-card__body">
    <%= semantic_form_for :export, builder: Fields::PatternflyFormBuilder,
                                   url: provider_admin_account_data_exports_path,
                                   remote: true,
                                   html: { class: 'pf-c-form pf-m-limit-width pf-m-horizontal' } do |form| %>
      <%= form.input :data, as: :patternfly_select,
                            collection: options_for_select(@targets),
                            include_blank: false,
                            placeholder: 'Select one' %>
      <%= form.input :period, as: :patternfly_select,
                              collection: options_for_select(@periods),
                              include_blank: false %>

      <%= form.actions do %>
        <%= form.commit_button t('.export'), 'data-disable-with': t('.exporting') %>
      <% end %>
    <% end %>
  </div>
</div>
