<% if cinstance.backend_version.v2?  %>
  <tr>
    <th>Application ID</th>
    <td><%= cinstance.application_id %></td>
  </tr>
  <%= render :partial => 'provider/admin/keys/key', :collection => cinstance.application_keys, :locals => {:cinstance => cinstance} %>
<% elsif cinstance.backend_version.oauth? %>
  <tr>
    <th>Client ID</th>
    <td><%= cinstance.application_id %></td>
  </tr>

  <tr>
    <th>Client Secret</th>
    <td>
      <span class="key" id="oauth_secret"><%= cinstance.keys.first %></span>
      <% if cinstance.keys.empty? %>
        <%= fancy_link_to 'Add Random key', provider_admin_application_keys_path(cinstance),
                          :method  => :post,
                          :remote  => true,
                          :class   => 'create_key', id: 'regenerate-oauth-key' %>
      <% else %>
        <%= fancy_link_to("Regenerate", regenerate_provider_admin_application_key_path(:application_id => cinstance.id, :id => cinstance.keys.first),
                          :method => :put, :class => 'delete refresh', :remote => true, id: 'regenerate-oauth-key')%>
      <% end %>
    </td>
  </tr>

  <tr>
    <th>Redirect URL</th>
    <td>
      <span class="key"><%= cinstance.redirect_url %></span>
      <%= link_to("Edit", edit_redirect_url_provider_admin_application_path(cinstance), class: 'fancybox action edit', 'data-autodimensions': 'true') %>
    </td>
  </tr>

<% else %>
  <tr>
    <td>
      <%= user_key_label(cinstance) %>
    </td>
    <td>
      <span id="cinstance-user-key"><%= cinstance.user_key %></span>
      <% if cinstance.custom_keys_enabled? %>
        <%= link_to '', edit_provider_admin_application_key_path(cinstance, cinstance.user_key),
                        class: 'fancybox action edit',
                        'data-autodimensions' => 'true',
                        title: "Set a custom User Key" %>
      <% end %>
      <% if defined?(regenerate) && regenerate %>
        <%= link_to 'Regenerate', change_user_key_provider_admin_application_path(cinstance), method: :put, data: {:confirm => "Are you sure?"}, class: ' action refresh' %>
      <% end %>
    </td>
  </tr>
<% end %>
