<%= render partial: 'provider/admin/cms/tab_content_title', locals: { header: "Section '#{@section.title}'" } %>

<%= cms_new_button_dropdown(CMS::Section) %>

<%= cms_form_for(@section) do |f| %>
  <%= render 'form', :f => f %>

  <div class='button-bar'>
    <%= f.actions do %>
      <%= f.delete_button if @section.respond_to?(:destroy) %>
    <% end %>

    <%= f.actions do %>
      <%= f.commit_button %>
    <% end %>
  </div>
<% end %>
