<%= render partial: 'provider/admin/cms/tab_content_title', locals: { header: 'Sections' } %>

<section class="pf-c-page__main-section pf-m-light">
  <table>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>

  <% @sections.each do |section| %>
    <tr>
      <td><%= section.title %></td>
      <td><%= link_to 'Edit', edit_provider_admin_cms_section_path(section) %></td>
      <td><%= link_to 'Destroy', provider_admin_cms_section_path(section), data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New section', new_provider_admin_cms_section_path %>
</section>
