<h1>New section</h1>

<%= cms_new_button_dropdown(CMS::Section) %>

<%= cms_form_for(@section) do |f| %>
  <p>
    <%= render 'form', :f => f %>

    <%= f.buttons do %>
      <%= f.button 'Create Section', button_html: { class: 'pf-c-button pf-m-primary' } %>
    <% end %>
  </p>
<% end %>
