<%= render partial: 'provider/admin/cms/tab_content_title', locals: { header: 'New section' } %>

<%= cms_new_button_dropdown(CMS::Section) %>

<%= cms_form_for(@section) do |f| %>
  <p>
    <%= render 'form', :f => f %>

    <%= f.actions do %>
      <%= f.commit_button 'Create Section' %>
    <% end %>
  </p>
<% end %>
