<% if cinstance.backend_version.v2? %>
  <div class="pf-c-card__body">
    <table id="keys" class="list">
      <tr>
        <th>Application ID</th>
        <td><%= cinstance.application_id %></td>
      </tr>
      <%= render partial: 'provider/admin/keys/key', collection: cinstance.application_keys,
                                                     locals: { cinstance: cinstance } %>
    </table>
  </div>

  <% if cinstance.backend_version.app_keys_allowed? %>
    <%- can_add_keys = cinstance.application_keys.can_add? %>
    <div class="pf-c-card__body">
      <table class="list no-border">
        <tr>
          <td colspan="2" id="app-keys-operations" <%= "style=display:none;" unless can_add_keys %>>
            <% if cinstance.custom_keys_enabled? %>
              <%= link_to 'Add Custom key', new_provider_admin_application_key_path(cinstance),
                                            class: 'fancybox action add',
                                            'data-autodimensions' => 'true',
                                            title: 'Add Custom key' %>
            <% end %>
            <%= link_to 'Add Random key', provider_admin_application_keys_path(cinstance),
                                          method: :post,
                                          remote: true,
                                          class: 'create_key add action' %>
          </td>
  
          <td colspan="2" id="app-keys-limit-warning" <%= "style=display:none;" if can_add_keys %>>
            Keys limit reached.
          </td>
        </tr>
      </table>
    </div>
  <% end %>

<% elsif cinstance.backend_version.oauth? %>
  <%- keys = cinstance.keys %>
  <div class="pf-c-card__body">
    <table id="keys" class="list">
      <tr>
        <th>Client ID</th>
        <td><%= cinstance.application_id %></td>
      </tr>

      <tr>
        <th>Client Secret</th>
        <td>
          <span class="key" id="oauth_secret"><%= keys.first %></span>
          <% if keys.empty? %>
            <%= fancy_link_to 'Add Random key', provider_admin_application_keys_path(cinstance),
                                                method: :post,
                                                remote: true,
                                                class: 'create_key',
                                                id: 'regenerate-oauth-key' %>
          <% else %>
            <%= fancy_link_to 'Regenerate', regenerate_provider_admin_application_key_path(application_id: cinstance.id, id: keys.first),
                                            method: :put,
                                            class: 'delete refresh',
                                            remote: true,
                                            id: 'regenerate-oauth-key' %>
          <% end %>
        </td>
      </tr>

      <tr>
        <th>Redirect URL</th>
        <td>
          <span class="key"><%= cinstance.redirect_url %></span>
          <%= link_to 'Edit', edit_redirect_url_provider_admin_application_path(cinstance),
                              class: 'fancybox action edit',
                              'data-autodimensions': 'true' %>
        </td>
      </tr>
    </table>
  </div>

<% else %>
  <table id="keys" class="pf-c-table pf-m-no-border-rows">
    <%- user_key = cinstance.user_key %>
      <td class="pf-m-fit-content">
        <%= user_key_label(cinstance) %>
      </td>
      <td class="pf-m-truncate pf-m-width-max">
        <span id="cinstance-user-key" title=<%= user_key %>><%= user_key %></span>
      </td>
      <td class="pf-m-fit-content">
        <% if cinstance.custom_keys_enabled? %>
          <%= link_to '', edit_provider_admin_application_key_path(cinstance, user_key),
                          class: 'fancybox action edit',
                          'data-autodimensions' => 'true',
                          title: "Set a custom User Key" %>
        <% end %>
        <%= link_to 'Regenerate', change_user_key_provider_admin_application_path(cinstance),
                                  method: :put,
                                  data: { confirm: "Are you sure?" },
                                  class: 'action refresh' %>
      </td>
    </tr>
  </table>
<% end %>
