<% content_for :title, t('.page_title') %>

<% content_for :page_header_title, t('.page_header_title') %>
<% content_for :page_header_body, t('.page_header_body') %>

<% content_for :javascripts do %>
  <%= javascript_packs_with_chunks_tag 'fields_definitions' %>
<% end %>

<div class="pf-c-panel pf-m-raised">
  <% @possible_targets.each do |class_name| %>
    <div class="pf-c-panel__header">
      <div class="pf-l-level">
        <div class="pf-l-level__item">
          <h2><%= class_name.constantize.model_name.human %></h2>
        </div>
        <div class="pf-l-level__item">
          <a class="pf-c-button pf-m-link" href=<%= new_admin_fields_definition_path(fields_definition: { target: class_name }) %>>
            <span class="pf-c-button__icon pf-m-start">
              <i class="fas fa-plus-circle" aria-hidden="true"></i>
            </span>
            Create
          </a>
        </div>
      </div>
    </div>

    <div class="pf-c-panel__main">
      <div class="pf-c-panel__main-body">
        <ul role="list" class="ui-sortable pf-c-data-list pf-m-compact">
          <% fields = @fields_definitions.by_target(class_name) %>
          <% fields.sort_by(&:pos).each do |field| %>
            <li id="<%=dom_id(field)%>" class="pf-c-data-list__item">
              <div class="pf-c-data-list__item-row">
                <div class="pf-c-data-list__item-control">
                  <button class="pf-c-data-list__item-draggable-button <%= 'pf-m-disabled' if fields.length == 1 %>" type="button">
                    <span class="pf-c-data-list__item-draggable-icon">
                      <i class="fas fa-grip-vertical"></i>
                    </span>
                  </button>
                </div>
                <div class="pf-c-data-list__item-content">
                  <div class="pf-c-data-list__cell">
                    <span><%= field.name %></span>
                  </div>
                  <div class="pf-c-data-list__cell">
                    <span>"<%= field.label %>"</span>
                  </div>
                  <div class="pf-c-data-list__cell">
                    <span><%= retrieve_properties_of(field) %></span>
                  </div>
                </div>
                <div class="pf-c-data-list__item-action">
                  <div class="pf-c-data-list__action">
                    <a class="pf-c-button pf-m-link" href=<%= edit_admin_fields_definition_path(field) %> title="Edit">
                      <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
