<% content_for :page_header_title, 'Invitations' %>

<% content_for :javascripts do %>
  <%= javascript_packs_with_chunks_tag 'table_toolbar' %>
<% end %>

<% presenter = Provider::Admin::Account::InvitationsIndexPresenter.new(collection, current_user, params) %>

<% if presenter.empty_state? %>
  <%= render partial: 'shared/empty_state', locals: { icon: 'plus-circle',
                                                      title: t('.empty_state_title'),
                                                      body: t('.empty_state_body'),
                                                      primary: { title: t('.empty_state_primary_title'),
                                                                 href: new_provider_admin_account_invitation_path } } %>
<% else %>
  <table class="pf-c-table pf-m-grid-lg" role="grid" aria-label="Invitations table" data-toolbar-props="<%= presenter.toolbar_props.to_json %>">
    <thead>
      <tr role="row">
        <th role="columnheader" scope="col">Recipient</th>
        <%= th_sortable 'sent_at', 'Sent' %>
        <%= th_sortable 'accepted_at', 'Accepted?' %>
        <td></td>
      </tr>
    </thead>

    <tbody role="rowgroup">
      <% presenter.invitations.each do |invitation| %>
        <tr role="row" id="<%= dom_id(invitation) %>">
          <td role="cell" data-label="Recipient"><%= h invitation.email %></td>
          <td role="cell" data-label="Sent"><%= presenter.sent_date(invitation) %></td>
          <td role="cell" data-label="Accepted?"><%= presenter.status(invitation) %></td>
          <td role="cell" class="pf-c-table__action">
            <div class="pf-c-overflow-menu">
              <div class="pf-c-overflow-menu__content">
                <div class="pf-c-overflow-menu__group pf-m-button-group">
                  <% if presenter.can_manage_invitation?(invitation) %>
                    <div class="pf-c-overflow-menu__item">
                      <%= pf_link_to 'Resend', resend_provider_admin_account_invitation_path(invitation),
                                               method: :put,
                                               variant: invitation.accepted? ? :disabled : :primary,
                                               class: 'refresh',
                                               data: { id: invitation.id } %>
                    </div>
                    <div class="pf-c-overflow-menu__item">
                      <%= pf_link_to 'Delete', provider_admin_account_invitation_path(invitation),
                                               data: { confirm: t('.delete_confirm') },
                                               variant: :danger,
                                               method: :delete %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
