<div id="stripe-form-wrapper"
  data-stripe-publishable-key="<%= @stripe_publishable_key %>"
  data-setup-intent-secret="<%= @intent.client_secret %>"
  data-billing-address="<%= stripe_billing_address_json %>"
  data-success-url="<%= hosted_success_admin_account_stripe_path %>"
  data-credit-card-stored="<%= current_account.credit_card_stored? %>">
</div>

<%= append_javascript_pack_tag 'StripeForm' %>
