<script type="text/javascript" src="https://js.stripe.com/v3/"></script>

<div class="well">

  <a id="toggle-stripe-form" class="<%= current_account.credit_card_stored? ? 'card-on-file' : 'hidden' %> pull-right" href="#">
    <i class="fa fa-pencil"></i>
    <span>Edit Credit Card Details</span>
  </a>
  <br/>

  <%= semantic_form_for 'stripe',
                        url: hosted_success_admin_account_stripe_path,
                        method: 'POST',
                        html: { id: 'stripe-form',
                                class: "#{current_account.credit_card_stored? ? 'hidden' : 'card-missing'} form-horizontal",
                                data: {stripe_publishable_key: @stripe_publishable_key, secret: @intent.client_secret}
                        } do |form| %>

    <fieldset>
      <legend>Credit card details </legend>
      <div id="card-element" class="col-md-10">
        <!-- a Stripe Element will be inserted here. -->
      </div>

      <!-- Display mandate acceptance text. -->
      <div id="mandate-acceptance">
        By completing the checkout process to store your card details you consent to our initiation of payments on your behalf.
        The frequency of these payments will be in accordance with the subscribed plan(s) and the amounts billed will directly reflect any fixed and/or variable costs defined in said plan(s) and subsequently invoiced.
      </div>

      <!-- Used to display form errors -->
      <div id="card-errors" role="alert"></div>

      <%= render partial: 'payment_gateways/stripe_billing_address', object: current_account.billing_address %>

      <%= form.hidden_field :setup_intent_id %>
      <%= form.hidden_field :payment_method_id %>
    </fieldset>

    <fieldset>
      <div class="form-group">
        <div class="col-md-10 operations">
          <%= form.submit 'Save details', class: "btn btn-primary pull-right"%>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
<% billing_address = current_account.billing_address %>
<script type="text/javascript" charset="utf-8">
  stripeForm = $( "#stripe-form" )
  $("#toggle-stripe-form").click(function() {
    stripeForm.toggleClass('hidden');
    var linkText = stripeForm.is(':visible') ? 'cancel' : 'Edit Credit Card Details';
    $(this).find('span').text(linkText);
    return false;
  });

    var stripe = Stripe('<%= @stripe_publishable_key %>');
    var elements = stripe.elements();

    var card = elements.create('card', {
        iconStyle: 'solid',
        style: {
            base: {
                iconColor: '#8898AA',
                color: 'black',
                fontWeight: 300,
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSize: '19px',
                '::placeholder': {
                    color: '#3f454c',
                },
            },
            invalid: {
                iconColor: '#e85746',
                color: '#e85746',
            }
        },
        classes: {
            focus: 'is-focused',
            empty: 'is-empty',
        },
    });
    card.mount('#card-element');

    var inputs = document.querySelectorAll('input.field');
    Array.prototype.forEach.call(inputs, function(input) {
        input.addEventListener('focus', function() {
            input.classList.add('is-focused');
        });
        input.addEventListener('blur', function() {
            input.classList.remove('is-focused');
        });
        input.addEventListener('keyup', function() {
            input.classList.toggle('is-empty', input.value.length === 0);
        });
    });

    var form = document.getElementById('stripe-form');

    // Just to easily copy&paste : 4000 0000 0000 3220
    console.log("4000000000003220");

    function handleIntentResult(result) {
      if (result.setupIntent && result.setupIntent.status === "succeeded") {
        console.log("succeeded ...");
        console.log(JSON.stringify(result.setupIntent));

        document.getElementById('stripe_setup_intent_id').value = result.setupIntent.id;
        document.getElementById('stripe_payment_method_id').value = result.setupIntent.payment_method;

        form.submit();
      } else {
        console.log(JSON.stringify(result));
        // YOLO
      }
    }

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        var intentSecret = form.dataset.secret

        var billingAddressDetails = {
          line1: "<%= j billing_address.address1 %>",
          line2: "<%= j billing_address.address2 %>",
          city: "<%= j billing_address.city %>",
          state: "<%= j billing_address.state %>",
          postal_code: "<%= j billing_address.zip %>",
          country: "<%= j billing_address.country %>"
        }

        var mandateData = {
          customer_acceptance: {
            type: 'online',
            online: {
              // hardcoded to simplify testing :P
              ip_address: "90.167.87.82",
              user_agent: "Mozilla/5.0 (Macintosh; Intel Mac OS X 11_1_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36"
              // infer_from_client: true
            }
          }
        }

        stripe.confirmCardSetup(intentSecret,
          {
            payment_method: {
              card: card,
              billing_details: {
                address: billingAddressDetails
              }
            },
            mandate_data: mandateData,
          }, {handleActions: true}
        ).then(handleIntentResult);
    });

</script>
