<script type="text/javascript" src="https://js.stripe.com/v3/"></script>

<div class="well">

  <% if current_account.credit_card_stored? %>
    <a id="toggle-stripe-form" class="card-on-file pull-right" href="#">
      <i class="fa fa-pencil"></i>
      <span>Edit Credit Card Details</span>
    </a>
    <br/>
  <% end %>

  <%= semantic_form_for 'stripe',
                        url: hosted_success_admin_account_stripe_path,
                        method: 'POST',
                        html: { id: 'stripe-form',
                                class: "#{current_account.credit_card_stored? ? 'hidden' : 'card-missing'} form-horizontal",
                                data: { stripe_publishable_key: @stripe_publishable_key, secret: @intent.client_secret }
                        } do |form| %>

    <fieldset>
      <legend>Credit card details</legend>
      <div id="card-element" class="col-md-10">
        <!-- a Stripe Element will be inserted here. -->
      </div>

      <!-- Used to display form errors -->
      <div id="card-errors" role="alert"></div>

      <%= render partial: 'payment_gateways/stripe_billing_address', object: current_account.billing_address %>

      <%= form.hidden_field :payment_method_id %>
    </fieldset>

    <fieldset>
      <div class="form-group">
        <div class="col-md-10 operations">
          <%= form.submit 'Save details', class: "btn btn-primary pull-right"%>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>

<% billing_address = current_account.billing_address %>

<script type="text/javascript" charset="utf-8">
  var stripeForm = $('#stripe-form');

  $('#toggle-stripe-form').click(function() {
    stripeForm.toggleClass('hidden');
    var linkText = stripeForm.is(':visible') ? 'cancel' : 'Edit Credit Card Details';
    $(this).find('span').text(linkText);
    return false;
  });

  var stripe = Stripe('<%= @stripe_publishable_key %>');
  var elements = stripe.elements();

  var card = elements.create('card', {
    iconStyle: 'solid',
    style: {
      base: {
        iconColor: '#8898AA',
        color: 'black',
        fontWeight: 300,
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSize: '19px',
        '::placeholder': {
          color: '#3f454c',
        },
      },
      invalid: {
        iconColor: '#e85746',
        color: '#e85746',
      }
    },
    classes: {
      focus: 'is-focused',
      empty: 'is-empty',
    }
  });
  card.mount('#card-element');

  function handleIntentResult(result) {
    if (result.setupIntent && result.setupIntent.status === "succeeded") {
      var setupIntent = result.setupIntent;

      document.getElementById('stripe_payment_method_id').value = setupIntent.payment_method;

      stripeForm.submit();
    } else {
      console.log(JSON.stringify(result));
      // TODO
    }
  }

  stripeForm.submit(function(e) {
    e.preventDefault();
    var intentSecret = stripeForm.data('secret');

    var billingAddressDetails = {
      line1: "<%= j billing_address.address1 %>",
      line2: "<%= j billing_address.address2 %>",
      city: "<%= j billing_address.city %>",
      state: "<%= j billing_address.state %>",
      postal_code: "<%= j billing_address.zip %>",
      country: "<%= j billing_address.country %>"
    }

    stripe.confirmCardSetup(intentSecret, {
      payment_method: {
        card: card,
        billing_details: {
          address: billingAddressDetails
        }
      }
    }).then(handleIntentResult);
  });

</script>
