<%
  billing_address = current_account.billing_address
  billing_address_json = {
    line1: billing_address.address1,
    line2: billing_address.address2,
    city: billing_address.city,
    state: billing_address.state,
    postal_code: billing_address.zip,
    country: billing_address.country
  }.to_json
%>

<div id="stripe-form-wrapper" data-stripe_publishable_key="<%= @stripe_publishable_key %>" data-setup_intent_secret="<%= @intent.client_secret %>" data-billing_address="<%= billing_address_json %>" data-success_url="<%= hosted_success_admin_account_stripe_path %>" data-credit_card_stored="<%= current_account.credit_card_stored? %>"></div>

<script src="https://js.stripe.com/v3/"></script>
<%= javascript_pack_tag 'StripeForm' %>
