<%= javascript_include_tag "swagger-ui" -%>
<%= javascript_include_tag "swagger-ui/threescale" -%>
<%= javascript_include_tag "swagger-ui/extensions" -%>
<%= stylesheet_link_tag    "swagger-ui/screen.css" -%>
<%= stylesheet_link_tag    "swagger-ui/threescale" -%>

<div class="swagger-section">
  <div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
  <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</div>

<div class='apidocs-param-tips apidocs-signin-message' style='display:none;'>
  <p><a href='#'>Sign in</a> to your account for quick access to useful values.</p>
</div>

<% url_opts = { format: :json }; url_opts[:services] = services.pluck(:system_name).join(',') unless services.empty? %>

<script type="text/javascript">
  $(function () {
    var host = "<%= @api_docs_service.host_with_port %>";
    var spec = <%= ActionController::Base.helpers.sanitize(@api_docs_service.body) %>;

    injectAuthParams(spec);

    window.swaggerUi = new SwaggerUi({
      spec: spec,
      dom_id: "swagger-ui-container",
      supportedSubmitMethods: ['get', 'post', 'put', 'delete', 'patch'],
      onComplete: function(swaggerApi, swaggerUi) {
        $('pre code').each(function(i, e) {hljs.highlightBlock(e)});
        if (host) {
          swaggerApi.setHost(host);
        }
      },
      onFailure: function(data) {
        log("Unable to Load SwaggerUI");
      },
      docExpansion: "list"
    });
  });
</script>
