<div class="cms-intro-page" id="quick-links" style="display:none" data-title="Quick Links">
  <ul class="links fa-ul">
    <li>
      <p>
        <%= icon('info-circle fa-li') %>
        You can switch between
        <em id="origin-glow">your own and 3scale</em>
        content or filter by
        <em id="filter-glow">arbitrary string</em>
        or
        <em id="type-glow">content type</em>.
      </p>
    </li>
    <li>
      <p>
        <%= icon('question-circle fa-li') %>
        Follow the
        <%= link_to 'Quickstart guide', I18n.t('docs.hero_api_portal', docs_base_url: docs_base_url('/guides'), docs_anchor: docs_anchor) %>
      </p>
    </li>
    <li>
      <p>
        <%= icon('file fa-li') %>
        <%= link_to 'Write pages', new_provider_admin_cms_page_path %>
        using <b>Markdown</b>, <b>Textile</b> or plain <b>HTML</b>.
        Use <em id="layouts-glow">layouts</em> and <em id="partials-glow">partials</em>.
      </p>
    </li>
    <li>
      <p>
        <%= icon('book fa-li') %>
        <%= link_to 'Liquid reference', provider_admin_liquid_docs_path %> is here to help you out
          covering all the <em>drops</em>, <em>tags</em> and <em>filters</em> that you can use.
      </p>
    </li>
    <li>
      <p>
        <%= icon('paperclip fa-li') %>
        <%= link_to 'Upload files', new_provider_admin_cms_file_path %> of any type (i.e. <b>images</b>, <b>documents</b> or <b>MP3s</b>.
      </p>
    </li>
  </ul>
  <section id="recent-templates">
    <h2>Recent Items</h2>
    <ul>
      <% current_account.templates.recents.limit(10).each do |template| %>
        <li>
          <%= link_to "#{template.human_type} '#{template.name}'",  polymorphic_path([:edit, :provider, :admin, template]), title: "updated at #{template.updated_at}" %>
        </li>
      <% end %>
    </ul>
  </section>

  <% if current_account.site_access_code.present? %>
    <div id="open-portal-to-public">

      <%= link_to 'Open your Portal to the world', open_portal_admin_site_dns_path, class: 'button important-button', method: :put,  remote: true, data: { confirm: 'Are you sure?'} %>

      <p>
        Removes the
        <%= link_to "access code", admin_site_dns_path %>
        from your Developer Portal.
        <% if current_account.templates.with_draft.any? %>
          Make sure you published
          <%= link_to "your changes", provider_admin_cms_changes_path %>.
        <% end %>
      </p>
    </div>
  <% end %>

</div>
