<h2>Logo</h2>
<%= semantic_form_for @profile, :url => provider_admin_account_logo_path, :html => {:multipart => true, :id => 'logo_form'} do |form| -%>
  <%= form.inputs 'Upload an Image to change the logo on your API Admin Dashboard' do %>
    <li class="file">
      <%= form.file_field :logo, title: "click to select an image"  %>
      <%= submit_tag 'Upload', class: "important-button" %>
    </li>
  <% end %>
<% end -%>

<% if @profile.logo? %>
  <div id="logo_container">
    <%= render 'logo' %>
  </div>
<% end %>
