<h1>Logo</h1>
<p>Upload your logo for usage in de developer portal through
  <%= link_to 'a Liquid drop', provider_admin_liquid_docs_path(anchor: 'logo_url') %>
</p>
<%= semantic_form_for @profile, :url => provider_admin_account_logo_path, :html => {:multipart => true, :id => 'logo_form'} do |form| -%>
  <%= form.inputs do %>
    <li class="file">
      <%= form.file_field :logo, title: "click to select an image"  %>
      <%= submit_tag 'Upload', class: "important-button" %>
    </li>
  <% end %>
<% end -%>

<% if @profile.logo? %>
  <div id="logo_container">
    <%= render 'logo' %>
  </div>
<% end %>
