<h2>Credit Card Policies</h2>
<%= semantic_form_for @settings, :url => admin_site_settings_url do |form| %>
  <%= form.inputs 'Policy URLs for Credit Card details' do %>
    <%= form.input :cc_terms_path,   :label => 'Path to Legal Terms page' %>
    <%= form.input :cc_privacy_path, :label => 'Path to Privacy page' %>
    <%= form.input :cc_refunds_path, :label => 'Path to Refund page' %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button 'Save' %>
  <% end %>
<% end %>
