<%= form.inputs :name => 'User Information' do %>
  <%= form.user_defined_form %>
<% end %>

<%= form.inputs :name => "Change Password" do %>
  <%= form.input :password, :required => false %>
  <%= form.input :password_confirmation, :required => false %>
<% end -%>

<% if can? :update_role, @user %>
  <%= content_tag :div, id: 'user-permissions-form',
                        data: { state: @user.as_json(root: false, only: [:role], methods: [:admin_sections, :member_permission_service_ids]),
                                services: @services.as_json(root: false, only: [:id, :name, :description]),
                                features: AdminSection.permissions_for_account(current_account)
                            } do %>
<%= form.inputs :name => 'Administrative' do %>
  <%= form.input :role, :as => :radio, :collection => roles_collection_for_form_helpers(@user), :input_html => { :class => 'roles_ids' } %>

  <% if can?(:manage, :permissions) -%>
    <li id="user_member_permissions_input"
        class="radio optional <%= 'u-servicePermissionsDisabled' unless current_account.provider_can_use?(:service_permissions) %>">
      <fieldset>
        <legend class="label">
          <label>This member user can:</label>
        </legend>
        <ol class="FeatureAccessList">
          <% AdminSection.permissions.each do |permission| %>
            <li class="FeatureAccessList-item">
              <label for="user_member_permission_ids_<%= permission %>">
                <input class="user_member_permission_ids"
                       id="user_member_permission_ids_<%= permission %>"
                       name="user[member_permission_ids][]"
                       type="checkbox"
                       value="<%= permission %>"
                      <%= "checked" if @user.admin_sections.include?(permission) %>  >
                <%= sanitize t("admin_sections.#{permission}").html_safe %>
              </label>
            </li>
          <% end -%>
        </ol>
        <input name="user[member_permission_ids][]" type="hidden" value="" />
      </fieldset>
    </li>

    <script type="text/javascript">
      jQuery(function(){
        function handleGroups() {
          if($("input[name='user[role]']:checked").val() == 'member') {
            $('#user_member_permissions_input').show();
          } else {
            $('#user_member_permissions_input').hide();
          }
        }
        $('.roles_ids').click(handleGroups)
        handleGroups()
      })
    </script>
    <%- if current_account.provider_can_use?(:service_permissions) %>
        <% content_for :javascripts do %>
            <% javascript_packs_with_chunks_tag 'permissions' %>
        <% end %>
    <%- end -%>
  <% end %>
<% end %>

  <% end %>
<% end %>

<%= form.actions do %>
  <%= form.commit_button I18n.t('provider.admin.account.users.form.submit_button_label') %>
<% end %>
