<h1>New service subscription</h1>

<%= semantic_form_for @service_contract,
  :url => admin_buyers_account_service_contracts_path(@account, :service_id => @service.id),
  :html => { :'data-remote' => true } do |form| %>

  <%= form.inputs do %>

    <li>
      <label>Service</label>
      <p><%= h @service.name %></p>
    </li>

    <%= form.input :plan, :collection => @service_plans, :include_blank => !@service_contract.plan_id? %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button 'Create subscription', :button_html => {:'data-disable-with' => 'Creating subscription...' } %>
  <%-end%>
<%-end %>

