<div class="row">
  <div class="col-md-9">
    {% include 'users_menu' %}
    <div class="panel panel-default">
      <div class="panel-heading important">
        <a href="{{ urls.users }}">
          <i class="fa fa-chevron-left"></i>
          All users
        </a>
      </div>
      <div class="panel-body panel-footer">
        {% form 'user.personal_details', user, class: "form-horizontal" %}
          <fieldset>
            <legend>
              <span>User information</span>
            </legend>
            {% for field in user.fields %}
              {% include 'field' with field %}
            {% endfor %}
          </fieldset>

          {% if user.using_password? %}
            <fieldset>
              <legend>
                <span>Provide your current password</span>
              </legend>
              <div class="form-group {{ user.errors.current_password | error_class: 'has-error' }}">
                <label for="user_current_password" class="col-md-4 control-label">
                  Current Password
                </label>
                <div class="col-md-6">
                  <input
                    id="user_current_password"
                    name="user[current_password]"
                    type="password"
                    class="form-control">
                  {{ user.errors.current_password | inline_errors: 'help-block' }}
                </div>
              </div>
            </fieldset>

            <fieldset>
              <legend>
                <span>Change password</span>
              </legend>
              <div class="form-group {{ user.errors.password | error_class: 'has-error' }}">
                <label for="user_password_confirmation" class="col-md-4 control-label">
                  Password
                </label>
                <div class="col-md-6">
                  <input
                    id="user_password"
                    name="user[password]"
                    type="password"
                    class="form-control">
                  {{ user.errors.password | inline_errors: 'help-block' }}
                </div>
              </div>

              <div class="form-group {{ user.errors.password_confirmation | error_class: 'has-error' }}">
                <label for="user_password_confirmation" class="col-md-4 control-label">
                  Password confirmation
                </label>
                <div class="col-md-6">
                  <input
                    id="user_password_confirmation"
                    name="user[password_confirmation]"
                    type="password"
                    class="form-control">
                  {{ user.errors.password_confirmation | inline_errors: 'help-block' }}
                </div>
              </div>
            </fieldset>
          {% endif %}

          <fieldset>
            <div class="form-group">
              <div class="col-md-10">
                <input
                  class="btn btn-primary pull-right"
                  name="commit"
                  type="submit"
                  value="Update Personal Details">
              </div>
            </div>
          </fieldset>
        {% endform %}
      </div>
    </div>
  </div>
</div>
