<div>
  <h2 id="header_table">
    <% if @plan.pricing_enabled? %>
      Metrics, Methods, Limits & Pricing Rules
    <% else %>
      Metrics, Methods & Limits
    <% end %>
  </h2>

  <table id="metrics" class="pf-c-table contract_table">
    <thead>
      <tr>
        <th class="pf-m-width-70" colspan="<%= @plan.pricing_enabled? ? 4 : 3 %>">
          Product Level
        </th>
        <th class="pf-m-width-10 operations">
          Enabled
        </th>
        <th class="pf-m-width-10 operations">
          Visible
        </th>
        <th class="pf-m-width-10 operations" colspan="<%= @plan.pricing_enabled? ? 2 : 1 %>">
          Text only
        </th>
      </tr>
    </thead>

    <tbody id="metrics_container">
      <% if @service.metrics.empty? -%>
        <tr class="notice" style="display:none">
          <td colspan="<%= @plan.pricing_enabled? ? 5 : 4 %>">
            This plan has no metrics yet.
          </td>
        </tr>
      <% else -%>
        <%= render partial: 'api/metrics/top_level', as: :metric, collection: @service.top_level_metrics %>
      <% end -%>
    </tbody>
  </table>

  <table id="backend_api_metrics" class="pf-c-table contract_table">
    <thead>
      <tr>
        <th class="pf-m-width-70" colspan="<%= @plan.pricing_enabled? ? 4 : 3 %>">
          Backend Level
        </th>
        <th class="pf-m-width-10 operations">
          Enabled
        </th>
        <th class="pf-m-width-10 operations">
          Visible
        </th>
        <th class="pf-m-width-10 operations" colspan="<%= @plan.pricing_enabled? ? 2 : 1 %>">
          Text only
        </th>
      </tr>
    </thead>

    <tbody id="metrics_container">
      <% if @service.metrics.empty? -%>
        <tr class="notice" style="display:none">
          <td colspan="<%= @plan.pricing_enabled? ? 5 : 4 %>">
            This plan has no metrics yet.
          </td>
        </tr>
      <% else -%>
        <%= render partial: 'api/metrics/backend_api', as: :backend_api, collection: @service.backend_apis %>
      <% end -%>
    </tbody>
  </table>
  <%= javascript_packs_with_chunks_tag 'plans_metrics' %>
</div>
