<% content_for :javascripts do %>
  <%= stylesheet_packs_chunks_tag 'pf_form' %>
<% end %>

<%= render partial: 'provider/admin/cms/tab_content_title', locals: { header: "Page '#{@page.title}'" } %>

<%= cms_new_button_dropdown(CMS::Page) %>

<%= cms_form_for(@page, :remote => true) do |f| %>
  <div id="cms-template-fields-wrapper">
    <%= render( 'form', :f => f) %>
  </div>
  <%= render '/provider/admin/cms/content_tabs', :f => f %>
<% end %>
