<% content_for :page_header_title, 'Invoices' %>

<% content_for :javascripts do %>
  <%# HACK: temporary reuse css of existing pack "table_toolbar". Once toolbar is implemented,
      import the whole pack with "javascript_packs_with_chunks_tag" %>
  <%= stylesheet_packs_chunks_tag 'table_toolbar' %>
<% end %>

<% if @invoices.blank?%>
  You have no invoices
<% else %>
  <table class="pf-c-table pf-m-grid-lg" role="grid" aria-label="Invoices table">
    <thead>
      <tr role="row">
      	<th role="columnheader" scope="col">ID</th>
      	<th role="columnheader" scope="col">Month</th>
      	<th role="columnheader" scope="col">State</th>
      	<th role="columnheader" scope="col">Amount</th>
      	<th role="columnheader" scope="col">Download</th>
      </tr>
    </thead>
    <tbody role="rowgroup">
      <% @invoices.each do |invoice| %>
	      <%= content_tag_for(:tr, invoice, role: 'row') do %>
          <td role="cell" data-label="ID">
            <%= link_to invoice.friendly_id, provider_admin_account_invoice_path(invoice) , :title => "Show #{invoice.friendly_id}" %>
          </td>
          <td role="cell" data-label="Month">
            <%= invoice.name %>
            <% if invoice.current? then %>(current)<% end %>
          </td>
          <td role="cell" data-label="State">
            <%= h invoice.state %>
          </td>
          <td role="cell" data-label="Amount">
            <%= price_tag(invoice.cost) %>
          </td>
          <td role="cell" data-label="Download">
            <%= link_to("PDF", invoice.pdf.expiring_url) if invoice.pdf.file? %>
          </td>
	      <% end %>
      <% end %>
    </tbody>
  </table>
<% end -%>
