<% content_for :menu do %>
  <%= render 'buyers/accounts/menu' %>
<% end %>

<% content_for :page_header_title, "Invoices for #{@account.org_name}" %>

<% if @presenter.empty_state? %>
  <%= render 'shared/empty_state', title: t('.empty_state.title'),
                                   body: t('.empty_state.body'),
                                   primary: { title: t('.empty_state.primary'),
                                              href: @presenter.invoices_path,
                                              opts: { 'data-method': :post } } %>
<% else %>
  <% content_for :javascripts, javascript_packs_with_chunks_tag('table_toolbar') %>

  <table class="pf-c-table pf-m-grid-lg"
         role="grid"
         aria-label="Invoices table"
         data-toolbar-props="<%= @presenter.toolbar_props.to_json %>">
    <thead>
      <tr role="row">
        <%= th_sortable('friendly_id', 'ID') %>
        <%= th_sortable('period', 'Month') %>
        <%= th_sortable('state', 'State') %>
        <th role="columnheader" scope="col">Amount</th>
        <th role="columnheader" scope="col">Download</th>
      </tr>
    </thead>
    <tbody role="rowgroup">
      <% @presenter.invoices.each do |invoice| %>
        <%= content_tag :tr, id: dom_id(invoice), role: "row" do %>
          <td role="cell" data-label="ID">
            <%= @presenter.link_to_invoice(invoice) %>
          </td>
          <td role="cell" data-label="Month"><%= invoice.name %></td>
          <td role="cell" data-label="State"><%= h invoice.state %></td>
          <td role="cell" data-label="Amount"><%= price_tag(invoice.cost) %></td>
          <td role="cell" data-label="Download" colspan="2">
            <%= invoice_pdf_link(invoice, label: 'PDF') %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

