<% content_for :javascripts do %>
  <%= javascript_packs_with_chunks_tag 'invoices_show' %>
<% end %>

<%= render '/finance/provider/shared/invoice_title', invoice: @invoice %>

<% content_for :menu do %>
  <%= render 'buyers/accounts/menu' %>
<% end %>

<div class="pf-l-grid pf-m-gutter">
  <%= render :partial => '/finance/provider/shared/invoice_header', :locals => { :editable => allow_edit?, :edit_link_scope => [:buyers, @account] } %>
  <%= render :partial => '/finance/provider/shared/line_items', :locals => { :editable => allow_edit? } %>
  <%= render :partial => '/finance/provider/shared/payment_transactions' %>
  <%= render :partial => '/finance/provider/invoices/actions' %>
</div>
