<% content_for :menu do %>
  <%= render 'buyers/accounts/menu' %>
<% end %>

<% content_for :page_header_title, "Groups of #{@account.org_name}" %>

<div id="groups">

  <%= semantic_form_for @account,
                      :url => admin_buyers_account_groups_path(@account),
                      :html => {:method => :put } do | f | -%>

    <%= f.inputs do %>
      <%= f.input :groups,
          :as => :check_boxes,
          :collection => @account.provider_account.provided_groups,
          :label_method => :label
       %>
    <% end -%>

    <%= f.actions do %>
      <%= f.commit_button 'Save' %>
    <% end %>
  <% end -%>

</div>
