<% content_for(:title) do %>
  Legal Terms for <%= @page.title %>
<% end %>

<h2>Legal Terms for <%= @page.title %></h2>

<%= render 'info' %>
<%= cms_form_for(@page) do |f| %>
  <%= render 'form', :f => f %>
  <%= f.input :draft, :as => :codemirror, :value => f.object.current %>
  <%= render 'buttons', f: f %>
<% end %>
