<% content_for :page_header_title, 'ActiveDocs' %>
<%= javascript_include_tag 'active-docs/application' %>
<%= stylesheet_link_tag 'active-docs/application' %>

<%= render 'menu' -%>

<div class='api-docs-wrap'></div>
<script>

  <% domain = current_account.external_domain + (Rails.env.development? ? ':3000' : '') -%>
  $(function(){
    ThreeScale.APIDocs.preview = true;
    ThreeScale.APIDocs.account_type = 'provider';

    ThreeScale.APIDocs.host = '//' + <%= json(domain) %>;
    <%# TODO: security hole - escape this properly %>
    ThreeScale.APIDocs.init(<%= json(@spec) %>);
  });
</script>
