<%= semantic_form_for :change_states, :url => admin_buyers_applications_bulk_change_state_path,
  :html => {
    :'data-remote' => true,
    :'data-confirm' => "Are you sure to change state of these #{@applications.count} applications?"
  } do |form| %>
  <%= form.inputs do %>
    <%= render 'buyers/applications/bulk/selected_applications' %>
    <%= form.input :action, :as => :select, :collection => @actions %>
    <p class="inline-hint">Remember that when you suspend application which is on paid plan, it will be invoiced and/or charged accordingly.</p>
    <%= form.buttons do %>
      <%= form.commit_button 'Change state', :button_html => {:'data-disable-with' => 'Running bulk action...' } %>
    <% end %>
  <% end %>
<% end %>
