<% content_for :menu do %>
  <%= render 'buyers/accounts/menu' %>
<% end %>

<% content_for :page_header_title do %>
  Edit User <%= h @user.display_name %> of the account <%= h @user.account.org_name %>
<% end %>

<%= semantic_form_for @user, url: admin_buyers_account_user_path(account_id: @user.account_id, id: @user.id), builder: Fields::FormBuilder do |form| %>

  <%= form.inputs :name => 'User Information' do %>
    <%= form.user_defined_form %>
  <% end %>

  <%= form.inputs :name => "Change Password" do %>
    <%= form.input :password, required: false, input_html: { autocomplete: 'off' } %>
    <%= form.input :password_confirmation, required: false, input_html: { autocomplete: 'off' } %>
  <% end -%>

  <% if can? :update_role, @user %>
    <%= form.inputs :name => 'Administrative' do %>
      <%= form.input :role,
        :label      => 'Role',
        :as         => :radio,
        :collection => roles_collection_for_form_helpers(@user), :input_html => { :class => 'users_ids' } -%>
    <% end %>
  <% end %>

  <div class="pf-c-form"><%# TODO: remove div and move class to form element %>
    <%= form.actions do %>
      <button class="pf-c-button pf-m-primary" type="submit">Update User</button>
      <% if @user.can_be_destroyed? %>
        <%= delete_link_for admin_buyers_account_user_path(account_id: @user.account_id, id: @user.id), data: {confirm: "Are you sure you want to destroy user #{@user.username}?" }, class: 'pf-c-button pf-m-danger' %>
      <% end -%>
    <% end %>
  </div>

  <style type="text/css">
    <%# the 'Role' radio button is unclickable without this style (see #1994)%>
    #user_role_input legend.label { width:auto; }
    form.formtastic fieldset.actions ol {left: -157px;}
  </style>

<% end %>
