<% content_for :menu do %>
  <%= render 'buyers/accounts/menu' %>
<% end %>

<% content_for :page_header_title, "Users of #{@account.org_name}" %>

<table class="data" id="buyer_users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created on</th>
      <th>Role</th>
      <th colspan="3">State</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr id="<%= dom_id(user) %>">
        <td class="<%= user.state %>">
          <%= link_to h(user.display_name), admin_buyers_account_user_path(account_id: user.account_id, id: user.id) %>
        </td>
        <td><%= h user.email %></td>
        <td><%= user.created_at.to_date.to_s(:long) %></td>
        <td><%=h user.role.to_s %></td>
        <td><%=h user.state %></td>
        <td class="operations">
          <%= link_to 'Edit', edit_admin_buyers_account_user_path(account_id: user.account_id, id: user.id), class: 'action edit' %>
        </td>
        <td class="operations">
          <%= button_activate_or_suspend(user) %>
      	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users %>
