<% content_for :menu do %>
  <%= render 'buyers/accounts/menu' %>
<% end %>

<% content_for :page_header_title do %>
  User <%= h @user.display_name %> of the account <%= h @user.account.org_name %>
  <%= link_to 'Edit', edit_admin_buyers_account_user_path(account_id: @user.account_id, id: @user.id), class: 'action edit' %>
<% end %>

<table class="list mini">

  <tr>
    <th>Name</th>
    <td><%= h @user.display_name %></td>
  </tr>

  <tr>
    <th>Created on</th>
    <td><%= h @user.created_at.to_s(:long) %></td>
  </tr>

  <% if @user.last_login_at.present? -%>
    <tr>
      <th>Last logged in on</th>
      <td><%= h @user.last_login_at.to_s(:long) %></td>
    </tr>
  <% end -%>

  <tr>
    <th>Role</th>
    <td><%= h @user.role %></td>
  </tr>

  <tr>
    <th>State</th>
    <td>
      <% if @user.active? %>
        <i class="included fa fa-check-circle-o" title="Feature is enabled for this plan"></i>
      <% else %>
        <i class="excluded fa fa-times-circle-o" title="Feature is disabled for this plan"></i>
      <% end %>
      <%= h @user.state %>
      <span class="operations">
        <%= legacy_button_activate_or_suspend(@user) %>
      </span>
    </td>
  </tr>

  <%= fields_definitions_rows(@user,["name"]) %>

</table>
