<%= javascript_tag do %>
  window.enableApiDocsProxy = <%= Rails.configuration.three_scale.active_docs_proxy_disabled.blank? %>;
<% end %>
<%= javascript_pack_tag 'provider_active_docs.js' %>
<%= javascript_include_tag 'active-docs/application.js' %>
<% content_for :title do %>
  3scale API Documentation
<% end %>

<% if current_user.access_tokens.empty? %>
  <p class="InfoBox InfoBox--notice"><%= link_to 'Create an access token', provider_admin_user_access_tokens_path %> to authenticate against the Account Management API, the Analytics API and the Billing API.</p>
<% end %>


<div id="api-containers"></div>

<script type="text/javascript">
  $(function () {
    let path = []
    var response = '';
    $.ajax({ type: "GET",
             url: "<%= j api_docs_services_path %>",
             async: false,
             success : function(text)
             {
                 response = text.apis;
                 var len = response.length
                 for (var i = 0; i < len; i++)
                  path.push(response[i].path)
             }
    });
    path.forEach(function (url) {
    var serviceEndpoint = "<%=j base_url.gsub(%r{/$}, '') %>"
    dom_name = url.substring(url.lastIndexOf('/') + 1).replace(/\.json/g, '').replace(/\_/g, '-');
    $('#api-containers').append($(`<div class="api-docs-wrap" id="${dom_name}" ></div>`));
    SwaggerUI({ url: url, dom_id: '#' + ''+ dom_name }, serviceEndpoint);
    });
  });
</script>