<% content_for :menu do %>
  <%= render 'buyers/accounts/menu' %>
<% end %>

<% content_for :page_header_title, "Sent invitations for #{@account.org_name}" %>

<% content_for :javascripts do %>
  <%# HACK: temporary reuse css of existing pack "table_toolbar". Once toolbar is implemented,
      import the whole pack with "javascript_packs_with_chunks_tag" %>
  <%= stylesheet_packs_chunks_tag 'table_toolbar' %>
<% end %>

<table class="pf-c-table pf-m-grid-lg" role="grid" aria-label="Invitations table" id="invitations">
  <thead>
    <tr role="row">
      <th role="columnheader" scope="col">Recipient</th>
      <th role="columnheader" scope="col">Sent</th>
      <th role="columnheader" scope="col">Accepted?</th>
      <th role="columnheader" scope="col" class="pf-c-table__action pf-m-fit-content">
        <% if can? :create, Invitation %>
          <%= link_to_unless_current 'Invite user', new_admin_buyers_account_invitation_path(@account), :class => 'action add' %>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody role="rowgroup">
    <% @invitations.each do |invitation| %>
      <tr id="<%= dom_id(invitation) %>" role="row">
        <td role="cell" data-label="Recipient"><%= h invitation.email %></td>
        <td role="cell" data-label="Sent"><%= invitation_sent_date(invitation) %></td>
        <td role="cell" data-label="Accepted?"><%= invitation_status(invitation) %></td>
        <td role="cell" class="pf-c-table__action">
          <div class="pf-c-overflow-menu">
            <div class="pf-c-overflow-menu__content">
              <div class="pf-c-overflow-menu__group pf-m-button-group">
                <% if can? :manage, invitation %>
                  <% unless invitation.accepted? -%>
                    <div class="pf-c-overflow-menu__item">
                      <%= fancy_link_to('Resend', resend_admin_buyers_account_invitation_path(invitation.account,invitation), { :class => "refresh", :id => "resend-invitation-#{invitation.id}", :method => :put }) %>
                    </div>
                  <% end -%>
                <% end %>
                <% if can? :manage, invitation %>
                  <div class="pf-c-overflow-menu__item">
                    <%= delete_link_for admin_buyers_account_invitation_path(invitation.account, invitation), data: { disable_with: 'Deleting…', confirm: 'Are you sure you want to delete this invitation?' } %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
      	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @invitations %>
