<tr>
  <th colspan="7" class="backend_api_metric_title"
                  data-collapsible="<%= backend_api.top_level_metrics.any? %>"
                  data-metrics="<%= backend_api.metrics.map &:id %>">
    <span><%= backend_api.name %></span>
    (<%= link_to 'Define method or metric', provider_admin_backend_api_metrics_path(backend_api), title: 'Define Methods and Metrics for this Backend' %>)
  </th>
</tr>
<%= render partial: 'api/metrics/top_level', as: :metric, collection: backend_api.top_level_metrics %>
