<h2>Search Results</h2>

<div>
  Your search for <em><%= h(@presenter.query) %></em> returned <%= search_result(@presenter) %>
</div>

<%= render :partial => "search_box" %>

<% unless @presenter.total_found.zero? %>
  <% case @presenter.scope
     when "accounts" %>
    <%= render :partial => "buyer/accounts/accounts", :locals => {:accounts => @presenter.search} %>
  <% when "users" %>
    <%= render :partial => "buyer/users/users", :locals => {:users => @presenter.search} %>
  <% when "tokens" %>
    <%= render :partial => "applications/tokens/search", :locals => {:tokens => @presenter.search} %>
  <% end %>
<% end %>
