<% content_for :page_header_title, "Create new Account" %>

<% content_for :javascripts do %>
  <%= stylesheet_packs_chunks_tag 'pf_form' %>
<% end %>

<div class="pf-c-card">
  <div class="pf-c-card__body">
    <%= semantic_form_for @buyer, builder: Fields::PatternflyFormBuilder,
                                  url: admin_buyers_accounts_path,
                                  html: { class: 'pf-c-form pf-m-limit-width' } do |form| %>
      <% @plans.each do |plan| %>
        <%= hidden_field_tag('plan_ids[]', plan.id) if plan.published? %>
      <% end %>

      <%= form.semantic_errors :plans %>

      <section class="pf-c-form__section" role="group" aria-labelledby="form-section-user">
        <div class="pf-c-form__section-title" id="form-section-user" aria-hidden="true">
          User Information
        </div>
        <%= form.fields_for [:user, @user ] do |user| %>
          <%= user.user_defined_form %>
          <%= user.input :password, as: :patternfly_input, input_html: { type: 'password' }, required: true %>
        <% end %>
      </section>

      <section class="pf-c-form__section" role="group" aria-labelledby="form-section-org">
        <div class="pf-c-form__section-title" id="form-section-org" aria-hidden="true">
          Organization Information
        </div>
        <%= form.user_defined_form %>
      </section>

      <%= form.actions do %>
        <%= form.commit_button 'Create' %>
      <% end %>
    <% end %>
  </div>
</div>
