<%= render partial: 'provider/admin/cms/tab_content_title', locals: { header: 'New layout' } %>

<%= cms_new_button_dropdown(CMS::Layout) %>

<%= cms_form_for(@page) do |f| %>
  <%= render 'form', :f => f %>
  <%= f.input :draft, :as => :codemirror, :label => false %>

  <div class='button-bar'>
    <%= f.actions do %>
      <%= f.commit_button 'Create Layout' %>
    <% end %>
  </div>
<% end %>
