<table class='plan-edit-popup'>
<tr>
  <td><%= form.label :period %></td>
  <td><%= form.select :period, UsageLimit::PERIODS, :include_blank => false %></td>
</tr>
<tr>
  <td><%= form.label :value %></td>
  <td><%= form.number_field :value, min: 0 %></td>
</tr>
<tr>
  <td></td>
  <td>
    <div class="errors"></div>
    <div class="actions">
      <%= form.submit "#{@usage_limit.new_record? ? 'Create usage limit' : 'Update usage limit'}", id: 'usage_limit_submit', class: 'pf-c-button pf-m-primary' %>
      <%= link_to 'Cancel', '', class: 'pf-c-button pf-m-link fancybox-close' %>
    </div>
  </td>
</tr>
</table>
