<h2>Preview Service Spec (<%= @api_docs_service.swagger_version -%>)</h2>

<div class="operations">
  <%- if @api_docs_service.published? -%>
    <%= link_to "Hide", toggle_visible_admin_api_docs_service_path(@api_docs_service), class: 'action eye-slash', method: 'put' -%>
  <%- else -%>
    <%= link_to "Publish", toggle_visible_admin_api_docs_service_path(@api_docs_service), class: 'action eye', method: 'put' -%>
  <%- end -%>
  |
  <%= link_to "Edit", edit_admin_api_docs_service_path(@api_docs_service), class: 'action edit' -%>
  |
  <%= delete_link_for admin_api_docs_service_path(@api_docs_service), data: {:confirm => "Are you sure?"} -%>
</div>
