<%# TODO: move this to CanCan %>
<% if @invoice.buyer %>
  <div id="invoice_actions" class="pf-c-card">
    <div class="pf-c-card__body pf-u-text-align-center">
      <%= invoice_action_button(generate_button_name, :generate_pdf, :secondary) %>
      <%= invoice_action_button(t('.issue.button'),   :issue,        :primary) if @invoice.state_events.include?(:issue) %>
      <%= invoice_action_button(t('.charge.button'),  :charge,       :primary) if @invoice.state_events.include?(:pay) %>
      <%= invoice_action_button(t('.pay.button'),     :pay,          :primary) if @invoice.state_events.include?(:pay) %>
      <%= invoice_action_button(t('.cancel.button'),  :cancel,       :danger)  if @invoice.state_events.include?(:cancel) %>
    </div>
  </div>
<% end %>
