<div id="application-utilization">
  <% if utilization.error? %>
    <p>There was a problem getting utilization data. Please try later.</p>
  <% elsif utilization.nil? || utilization.size == 0 %>
    <p><b>This is an unmetered application, there are no limits defined</b></p>
  <% else %>
    <p>Overview of the current state of this application's limits</p>

    <table class="pf-c-table" role="grid" aria-label="Utilization metrics table">
      <thead>
        <tr role="row">
          <th role="columnheader" scope="col">Metric Name</th>
          <th role="columnheader" scope="col">Period</th>
          <th role="columnheader" scope="col">Values</th>
          <th role="columnheader" scope="col">%</th>
        </tr>
      </thead>

      <tbody>
        <% utilization.each do |item| %>
          <tr role="row">
            <td role="cell" data-label="Metric Name">
              <b><%= item.friendly_name %></b>&nbsp;(<%= item.system_name %>)
            </td>
            <td role="cell" data-label="Period">
              per <b><%=item.period%></b>
            </td>
            <%
              utilization = "#{item.current_value}/#{item.max_value}"

              if item.max_value.to_i > 0 || (item.max_value.to_i == 0 && item.current_value.to_i == 0)
                percentage = item.percentage.to_f
                utilization_type = "above-0"
                utilization_type = "above-80" if percentage > 80.0
                utilization_type = "above-100" if percentage > 100.0
              else
                utilization_type = "infinity"
                percentage = "Inf"
              end
            %>
            <td role="cell" data-label="Values" class="utilization">
              <%= content_tag(:span, utilization, class: utilization_type) %>
            </td>
            <td role="cell" data-label="%" class="utilization">
              <%= content_tag(:span, percentage, class: utilization_type) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
