<% content_for :javascripts do %>
  <%= stylesheet_link_tag 'provider/admin/cms/versions' %>
  <%= javascript_packs_with_chunks_tag 'table_toolbar' %>
<% end %>

<%= render 'provider/admin/cms/tab_content_title', header: t('.title.header', class: @page.class.model_name.human, name: @page.name),
                                                   body: @presenter.versions.blank? ? t('.title.body') : nil %>

<% unless @presenter.versions.blank? %>
  <section class="pf-c-page__main-section pf-m-light">
    <table class="pf-c-table pf-m-no-border-rows pf-m-compact"
           role="grid"
           aria-label="Versions table"
           data-toolbar-props="<%= @presenter.toolbar_props.to_json %>">
      <thead>
        <tr>
          <th role="columnheader" scope="col">Created On</th>
          <th role="columnheader" scope="col">Author</th>
          <th role="columnheader" scope="col">Type of Version</th>
          <th role="columnheader" scope="col">Changes</th>
          <td class="pf-m-fit-content"></td>
        </tr>
      </thead>

      <tbody role="rowgroup">
        <% @presenter.versions.each.with_index do |version, index| %>
          <tr>
            <td role="cell" data-label="Created On">
              <%= link_to l(version.created_at), provider_admin_cms_template_version_path(@page, version),
                                                 title: t('.link_title', name: version.created_at) %>
            </td>
            <td role="cell" data-label="Author"><%= version.updated_by || '' %></td>
            <td role="cell" data-label="Type of Version"><%= version.state %></td>
            <td role="cell" data-label="Changes"><%= @presenter.changes_of(version, index) %></td>
            <td role="cell" class="pf-c-table__action actions">
              <div class="pf-c-overflow-menu">
                <div class="pf-c-overflow-menu__content">
                  <div class="pf-c-overflow-menu__group pf-m-button-group">
                    <div class="pf-c-overflow-menu__item">
                      <%= @presenter.revert_button_to(version) %>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="pf-c-action-list">
      <%= @presenter.back_button %>
    </div>
  </section>
<% end %>
